---
---

::selection {
    background: #d4dde6;
}
::-moz-selection {
    background: #d4dde6;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: white;
}

body, html {
    overflow-x: hidden;
    overflow-y: auto; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    letter-spacing: 1px;
    color: #4e4e4e;
}
h1 {
    font-size: 34px;
}

p {
    margin: 0 0 15px;
    font-size: 16px;
    line-height: 1.5;
}
li {
    font-size: 16px;
}

hr {
    border-color: #8e969e;
    border-width: 3px;
    max-width: 100px;
    margin-bottom: 30px;
    margin: 20px 0;
}
@media (min-width: 768px) {
    hr {
        margin: 20px auto;

    }
}

.contact-section hr {
    margin: 20px auto;
}

@media (min-width: 768px) {
    p {
        margin: 0 0 15px;
        font-size: 16px;
        line-height: 1.6;
    }
}
a {
    color: #f9a01e;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}
.navbar-custom {
        padding: 0; //3px 0;

    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white; //#fdc050; //#828282;
    
    .navbar-toggle {
        //color: white;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 0;
        margin-top: 14px;
        text-transform: uppercase;
    }

    .navbar-toggle:focus,
    .navbar-toggle:active {
        outline: none;
    }
    .navbar-brand {
        font-weight: 700;
        margin-top: -10px;
        
        img {
            margin-top: -3px;
            margin-right: 5px;
        }
    }
    .navbar-brand:focus {
        outline: none;
    }
    a {
        color: black; //white;
    }
    .nav li {
        &.instagram {
            font-size: 22px;
        }
        a {
            -webkit-transition: background 0.3s ease-in-out;
            -moz-transition: background 0.3s ease-in-out;
            transition: background 0.3s ease-in-out;
            &.language {
                text-transform: initial;
            }
        }
    }
    .nav li a:hover {
        color: #f9a01e;
        outline: none;
        background-color: transparent;
    }
    .nav li a:focus,
    .nav li a:active {
        outline: none;
        background-color: transparent;
    }
    .nav li.active {
        outline: none;
    }
    .nav li.active a {
        background-color: rgba(255, 255, 255, 0.3);
    }
    .nav li.active a:hover {
        color: white;
    }   
}
@media (min-width: 768px) {
    .navbar-custom {
        //border-bottom: none;
//        letter-spacing: 1px;
//        background: transparent;
        -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        
        &.top-nav-collapse {
            padding: 0;            
            background: white; //#fdc050; //#616161;
            //border-bottom: 1px solid gray;
            
        }

        .nav li {
            &.instagram {             
                margin-left: -10px;
            }
            a {                
                padding-bottom: 0;
                padding-top: 17px;
                &.language {
                    border-left: 1px solid rgba(255, 255, 255, 0.6);
                    font-size: 14px;
                    margin-left: 10px;
                    margin-top: 10px;
                    line-height: 0;
                }
            }
        }
                
    }
}
.intro {
    background-color: #d0d0d0;
    top: 50px;

    text-align: center;
    color: white;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;    
    .slogan {
        h1 {
            color: white;
            text-shadow: 2px 2px #000000;
            font-size: 26px;
            margin: 0;
        }
        margin-top: 20px;
    }
}

.slogan-section {
    margin-left: 15px;
}
@media (min-width: 768px) {
    .slogan-section {
        text-align: center;
        padding: 0 20px;
        margin-left: 0;
        h1 {
            font-size: 34px;
        }
    }
}

.carousel {
    height: 250px;
    
    .carousel-inner {
        height: 100%;
    }

    .item {
        height: 100%;
        width: 100%;
    }
    .fill {
        width: 100%;
        height: 100%;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
}
@media (min-width: 768px) {
    .carousel {
        height: 370px;
    }
}


.content-section {
    h2 {
    }
}
@media (min-width: 768px) {
    .content-section {
        h2 {
            text-align: center;     
        }
    }

}

.content-section {
    float: none;
    margin: 0 auto;
    padding-top: 20px;
    h2 {
        margin-bottom: 15px;
    }
}
#services {
    background-color: #e2e2e2; //#e0e9f3;
    margin-top: 20px;
}
.services-section {
    width: 100%;
    padding: 0 0 30px 0;
    p {
        margin-bottom: 5px;
    }
    ul {
        padding: 1em;
    }
    .box {
        padding: 0 20px 0 0;
    }
}

.contact-section {
    .img-responsive {
        display: inline-block;
    }
    .video {
        margin: 19px;
    }
    p {
        margin: 5px;
    }
}

#info {
    background-color: #e2e2e2; //#e0e9f3;
    margin-top: 20px;
    padding-bottom: 20px;
}
.info-section {
    .img-responsive {
        margin: 10px;
    }
    h2 {
        font-size: 24px;
    }
}
@media (min-width: 480px) {
    .info-section {
        h2 {
            font-size: 30px;
        }
    }
}
.slogan-section {
    padding-top: 40px;
    width: 100%;
    p {
        font-weight: 500;
        margin-bottom: 0;
        font-size: 18px;
    }
}

.references-section {
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .reference {
        margin-bottom: 20px;
    }
    
    .portfolio-box {
        position: relative;
        display: block;
        max-width: 650px;
        margin: 10px auto;
        
        p {
            margin: 0;
        }
        h3 {
            margin-top: 10px;
        }
    }
    .container div:nth-child(2n+2) {
//        clear: both;
    }

}
footer {
    border-top: solid 1px gray;
    padding: 30px 15px;
    text-align: center;
    p {
        margin: 0;
    }
    h1, h2, h3, hr {
        display: none;
    }
}
body {
    webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

.vertical-align {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
   
    flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    align-items: center;     /* Align the flex-items vertically */
    justify-content: center; /* Optional, to align inner flex-items
                              horizontally within the column  */
}
