    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{{ misc.site.title[page.language] }}</title>
    <meta property="og:title" content="{{ misc.site.title[page.language] }}">
    <meta property="og:description" content="{{ misc.site.description[page.language] }}">
    <link rel="canonical" href="{{ page.url | replace:'/index.html','/' | absolute_url }}" />
    <meta property="og:url" content="{{ page.url | replace:'/index.html','/' | absolute_url }}" />
    <meta name="keywords" content="{{ misc.site.keywords[page.language] }}">
    <meta name="description" content="{{ misc.site.description[page.language] }}">