{% assign products = site.kultavilla | where:"name", "products"  | first %}

<div class="products-wrapper">
  <div class="intro carousel slide">
    <div class="vertical-align2 carousel-inner" role="listbox">
      {% for image in products.intro_image %}
      <div class="vertical-align item{% if forloop.index == 1 %} active{% endif %}" style="background: url('{{ image | prepend:site.baseurl }}') no-repeat fixed center center; background-size: cover; background-attachment: scroll;">
      </div>
      {% endfor %}
    </div>

    <div class="products-header col-sm-10">
      <img class="logo" width="90%" src="{{ "/uploads/logo-big.png" | prepend: site.baseurl }}">
      <h1>{{ products.title_text }}</h1>
    </div>
  </div>

  <section id="slogan" class="content-section">
    <div class="slogan-section">
      <div class="col-sm-10 col-sm-offset-1">
        <h3>{{ products.subtitle_text }}</h3>
      </div>
    </div>
  </section>

  <div class="clearfix"></div>

  <section class="content-section">
    <div class="col-sm-10 col-sm-offset-1">
      {{ products.section_info_text | markdownify }}
    </div>
  </section>

  <div class="clearfix"></div>

  <section class="content-section wool">
    <div class="col-sm-10 col-sm-offset-1">
      <img src="{{ products.section_wool_image_image | prepend: site.baseurl }}">
      {{ products.section_wool_text | markdownify }}
    </div>

    <div class="clearfix"></div>

    <div class="col-sm-10 col-sm-offset-1 wool-info-wrapper">
      <ul class="wool-info">
        {% assign i = 0 %}
        {% for info in products.wool_info %}
        <li class="col-sm-6 col-xs-12">
          <div class="wool-info-icon"><img src="{{ products.wool_info_images_image[i] | prepend: site.baseurl }}" width="168px"></div> 
          <div class="wool-info-text"><p>{{ info }}</p></div>
        </li>
        {% assign i = i | plus:1 %}
        {% endfor %}
      </ul>
    </div>
    
    <div class="col-sm-10 col-sm-offset-1">
      <p>{{ products.section_wool_content_2_text | markdownify }}</p>
    </div>
  </section>

  <div class="clearfix"></div>

  <section class="content-section dyeing">
    <div class="col-sm-10 col-sm-offset-1">
      {{ products.natural_dyeing_text | markdownify }}
      <div class="clearfix"></div>
      {% for img in products.natural_dyeing_images_image %}
      <div class="reference portfolio-box2 product-info">
        <div class="col-sm-4 col-ms-6 col-xs-12 image">
          <img src="{{ img | prepend: site.baseurl }}" class="img-responsive2" alt="">
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <div class="clearfix"></div>

  <section class="container content-section products">
    {% for p in products.products %}
    
    <div class="col-lg-10 col-lg-offset-1">
      <div class="col-xs-12 text">      
        {{ p.text_text | markdownify }}
      </div>
      <div class="clearfix"></div>
      {% for img in p.images_image %}
      <div class="reference portfolio-box2 product-info">
        <div class="col-sm-4 col-ms-6 col-xs-12 image">
          <img src="{{ img | prepend: site.baseurl }}" class="img-responsive2" alt="">
        </div>
      </div>
      {% endfor %}
      <div class="clearfix"></div>
    </div>
    {% endfor %}
  </section>


  <div class="clearfix"></div>

  <section class="content-section washing">
    <div class="col-sm-10 col-sm-offset-1">
      <img src="{{ "/uploads/handwash.png" | prepend: site.baseurl }}" alt="Washing instructions">
      {{ products.washing_text | markdownify }}
    </div>
  </section>

  <div class="clearfix"></div>


  <section class="content-section natural-fibers">
    <div class="col-sm-10 col-sm-offset-1">
      {{ products.natural_fibers | markdownify }}
    </div>
  </section>

  <div class="clearfix"></div>

  <section class="content-section gots">
    <div class="col-sm-10 col-sm-offset-1">
      {{ products.gots_text | markdownify }}
    </div>
  </section>


  <div class="clearfix"></div>

  {% assign contact = site.kultavilla | where:"name", "contact"  | first %}
  {% assign key = page.language | append: "_text" %}
  {% assign contact = contact.text_text[key] | markdownify %}

</div>

<footer>
  <div class="text-center">
    {{ contact }}
  </div>
</footer>
